/* --- Theme customizations.  Have to point to this in config.toml --- */

/* Make the overall site-wide width of the centered column wider. */
.measure-wide {
  max-width: 1200px !important;
}
 
/* Left justify instead of centered */
article p {
  text-align: left;
}

article li {
  text-align: left;
}


.inline-svg {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
}

figure.left {
  float: left;
  margin-right: 1.5em;
  max-width: 50%;
}

figure.right {
  float: right;
  margin-left: 1.5em;
  max-width: 50%;
}
